<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<div class="jumbotron center">
	This is going to be the best day of my life. My life. 

	<div>
		<%= link_to "Sign up", "#" , class: "btn btn-primary" %> 
		<%= link_to "Log in", "#", class: "btn btn-default" %>
	</div>
</div>
