<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<div class="jumbotron">
	This is going to be the best day of my life. My life. 

	<div>
		Click here to <%= link_to "Sign up", "#" , class: "btn btn-primary" %>. 
	</div>
</div>
